{{- /*
// GoToSocial
// Copyright (C) GoToSocial Authors admin@gotosocial.org
// SPDX-License-Identifier: AGPL-3.0-or-later
//
// This program is free software: you can redistribute it and/or modify
// it under the terms of the GNU Affero General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
//
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU Affero General Public License for more details.
//
// You should have received a copy of the GNU Affero General Public License
// along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/ -}}

{{- define "thumbnailDescription" -}}
{{- if .instance.ThumbnailDescription -}}
{{- .instance.ThumbnailDescription -}}
{{- else -}}
实例 Logo
{{- end -}}
{{- end -}}

{{- define "strapUsers" -}}
{{- with deref .instance.Stats.user_count -}}
    {{- if eq . 1 -}}
        <span class="count">{{- . -}}</span> 名用户
    {{- else -}}
        <span class="count">{{- . -}}</span> 名用户
    {{- end -}}
{{- end -}}
{{- end -}}

{{- define "strapPosts" -}}
{{- with deref .instance.Stats.status_count -}}
    {{- if eq . 1 -}}
        <span class="count">{{- . -}}</span> 条动态
    {{- else -}}
        <span class="count">{{- . -}}</span> 条动态
    {{- end -}}
{{- end -}}
{{- end -}}

{{- define "strapInstances" -}}
{{- with deref .instance.Stats.domain_count -}}
    {{- if eq . 1 -}}
        <span class="count">{{- . -}}</span> 个实例
    {{- else -}}
        <span class="count">{{- . -}}</span> 个实例
    {{- end -}}
{{- end -}}
{{- end -}}

{{- with . }}
<a aria-label="{{- .instance.Title -}}. 实例首页" href="/" class="nounderline">
    <img
        src="{{- .instance.Thumbnail -}}"
        alt="{{- template "thumbnailDescription" . -}}"
        title="{{- template "thumbnailDescription" . -}}"
    />
    <h1>{{- .instance.Title -}}</h1>
</a>
{{- if .showStrap }}
<aside>本实例有{{ template "strapUsers" . }} 共发布 {{ template "strapPosts" . }}, 与 {{ template "strapInstances" . }}联合</aside>
{{- end }}
{{- end }}